[user]
	name = yubo
	email = yubo@xiaomi.com
[diff]
	tool = vimdiff
[difftool]
	prompt = No
[core]
	editor = vim
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[push]
	default = matching
